<section>
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Flying Pigs
            </h1>
            <p class="lead">Get Tickets now!</p>
            <form action="/charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="" data-zip-code="true"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto">
                    </script>
                <script>
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none'
                </script>
                <button type="submit" class="btn btn-outline-dark">Buy Ticket</button>
            </form>
        </div>
        <div class="col-md-6 text-center right-side">

        </div>
    </div>

</section>